<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es usado por el proceso de publicación/empaquetado de su proyecto web.
Puede personalizar el comportamiento de este proceso editando este archivo MSBuild.
Para más información sobre esto, visite https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>d3b1ab69-8c1a-4c8e-9b4f-7a2b5b8c4d9e</ProjectGuid>
    <publishUrl>bin\Release\Publish\peces-deploy</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
</Project>