<?xml version="1.0" encoding="utf-8"?>
<!-- En Rails esto sería un ambiente.rb o application.rb con 10 líneas máximo -->
<!-- Phoenix ni siquiera necesita esto... pura configuración en runtime -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <!-- Tanto XML para hacer algo que en Rails/Phoenix sería un simple config -->
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
      <!-- Configuración para ejecutar validaciones a nivel del servidor -->
      <!-- En Phoenix esto sería una línea en config.exs -->
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <!-- IE5? En serio? En 2025? Phoenix solo soporta navegadores modernos -->
      <clientTarget>
        <add alias="ie5" userAgent="Mozilla/4.0 (compatible; MSIE 5.5; Windows NT 4.0)" />
      </clientTarget>
    </pages>
    <authentication mode="None" />
    <!-- En Rails auth sería Devise con 2 líneas de código -->
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!-- Configuración para ejecutar validaciones a nivel del servidor -->
    <!-- En Phoenix, validaciones sería schemas y changesets elegantes -->
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  </system.web>
  <!-- Esto no existe en Phoenix. Solo config.exs y ya -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <!-- Gestión de dependencias vía IIS. En Rails/Phoenix sería automático -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>